<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>
                {
                "project": "",
                "timestamp": "%d{dd.MM.yyyy, HH:mm:ss}",
                "level": "%level",
                "service": "",
                "system": "",
                "pool": "",
                "server": "",
                "instance": "",
                "message": "%message",
                "marker": "",
                "container": ""
                }
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
